@using Util.Webs.EasyUi.Trees;
@model ICollection<ITreeNode>
    <div data-options="region:'west',title:'功能菜单',split:true,maxWidth:500" style="width:180px;">
        <div class="easyui-accordion" data-options="fit:true,border:false">
            @foreach (var p in Model)
            {
                using (Html.Bootstrap().Div().AddAttribute("title", p.Text).AddAttribute("data-options", "iconCls:'"+ p.IconClass+"'").Begin())
                {
                    @Html.EasyUi().Tree("/Home/GetMenuTree?parentId=" + p.Id).AddClass("divMenuTree")
                }
            }
        </div>
    </div>
