<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="Sys" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=BeiDreamEasyUi;User ID=sa;Password=199132;Pooling=False" providerName="System.Data.SqlClient" />-->
    <add name="Sys" connectionString="Data Source=ZHAOLIANG-PC\SQLEXPRESS;Initial Catalog=BeiDreamEasyUi;User ID=sa;Password=621835;Pooling=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>